{% extends 'index.html' %}

{% block content %}
{% if messages %}
  <ul class="messages">
    {% for mes in messages %}
      <li class="{{ mes.tags }}">{{ mes }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <h3>{{ header }}</h3>
  <p>{{ text }}</p>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col-sm-6">
      <div class="card camera">
        <video id="video">Video stream not available.</video>
        <div class="card-body">
          <h5 class="card-title">Webcam input</h5>
          <p class="card-text">This view shows the image of the webcam. Click the button to save the image.</p>
          <button type="button" class="btn btn-primary" id="startbutton">Capture network</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card output">
        <img id="photo" class="card-img-top" alt="The screen capture will appear in this box."> 
        <div class="card-body">
          <h5 class="card-title">Saved image</h5>
          <p class="card-text">You can now extract the drawn network.</p>
          <button type="button" class="btn btn-primary" id="processbutton">Process image</button>
        </div>
      </div>
    </div>
    <canvas id="canvas">
    </canvas>
  </div>
<script type="text/javascript">
 var csrftoken = '{{ csrf_token }}';
</script>
<script src="{{ url_for('static', path='js/capture.js' )}}"></script>
{% endblock %}

