{% extends 'index.html' %}

{% block content %}
{% if messages %}
  <ul class="messages">
    {% for mes in messages %}
      <li class="{{ mes.tags }}">{{ mes }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <h3>{{ header }}</h3>
  <p>{{ text }}</p>
  <div class="row d-flex justify-content-center">
    <div class="col-2 d-flex align-items-stretch justify-content-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">1) Color choice</h5>
          <p class="card-text">You need to select the color which should represent the network.</p>
          <form>
            <label for="cameraInput" class="form-label">Plese select camera input:</label>
            <select id="cameraInput">
              {% for cam in cameras %}
                <option value="{{ cam }}">{{ cam }}</option>
              {% endfor %}
            </select>
            <div id="cam" class="form-text">{{ camera }}</div>
            <label class="form-label" for="kb_selected_color">Please choose color: </label>
            <input type="color" class="form-control" id="kb_selected_color">
            <div id="hex" class="form-text">#{{ color }}</div>
            <label for="huerange" class="form-label">Hue range</label>
            <input type="range" class="form-range" min="1" max="50" value="10" id="huerange">
            <div id="hue" class="form-text">{{ huedelta }}</div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-4 d-flex align-items-stretch justify-content-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">2) Webcam input</h5>
          <p class="card-text">This view shows the image of the webcam. You can use the color picker here.</p>
          <img id="frame" src="data:image/jpeg;base64,{{ image | safe }}">
        </div>
        <div class="card-footer text-body-secondary">
          <button type="button" class="btn btn-success" id="refresh">Refresh color view</button>
        </div>
      </div>
    </div>
    <div class="col-4 d-flex align-items-stretch justify-content-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">3) Masked input</h5>
          <p class="card-text">This view shows the masked image based on the chosen color. Click the button to process the image.</p>
          <img id="mask" src="data:image/jpeg;base64,{{ mask | safe }}">
        </div>
        <div class="card-footer text-body-secondary">
          <button type="button" class="btn btn-primary" id="startbutton">Read network</button>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', path='js/getnetwork.js')}}"></script>
{% endblock %}

