{% extends 'index.html' %}

{% block content %}
{% if messages %}
  <ul class="messages">
    {% for mes in messages %}
      <li class="{{ mes.tags }}">{{ mes }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <h3>{{ header }}</h3>
  <p>A network is characterized by its nodes and edges.
  Nodes have different <i>centralities</i>.</p>
  <p>One possible measure for the whole network is how close to a small world network it is.</p>
  <div class="row d-flex justify-content-center">
    <div class="col-6 justify-content-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Input and network</h5>
          <p class="card-text">Displayes the extracted network overlayed on the image input.</p>
          <img id="mask" src="data:image/jpeg;base64,{{ mask | safe }}">
        </div>
      </div>
    </div>
    <div class="col-6 justify-content-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Statistic</h5>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Nodes</th>
                <td>{{ nodes }}</td>
              </tr>
              <tr>
                <th scope="row">Edges</th>
                <td>{{ edges }}</td>
              </tr>
              <tr>
                <th scope="row">Small world</th>
                <td>{{ smallworld }}</td>
              </tr>
              <tr>
                <th scope="row"># Cut edges</th>
                <td>{{ numMinEdgeCut }}</td>
              </tr>
              <tr>
                <th scope="row">Av. shortest path length</th>
                <td>{{ AvShortPath }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>    
{% endblock %}

