<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://cdn.jsdelivr.net; img-src * data:; script-src 'self' https://cdn.jsdelivr.net;" />

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <title>ModelSEN -- image2network</title>
    </head>
     <body class="d-flex flex-column min-vh-100">
        <div id="navigation" class="container x-2">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="https://modelsen.mpiwg-berlin.mpg.de">
              <img id="logo" src="{{ url_for('static', path='images/logo.png')}}" width="50" height="50" >
              image2network
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                {% for item in navigation %}
                  <li class="nav-item"><a class="nav-link" href="{{ item.href }}">{{ item.caption }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="topnav-right">
              <a class="navbar-brand" href="https://www.gea.mpg.de">
                <img id="logo" src="{{ url_for('static', path='images/mpg.png')}}" width="50" height="50" >
              </a>
            </div>
          </nav>
        </div>
        {% for mes in messages %}
            <div class="alert alert-{{ mes.tags }} alert-dismissible container x-2 fade show my-3" role="alert">
                {{ mes }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        <div id="content" class="container my-3 x-2">
          {% block content %}{% endblock %}
        </div>
        <div id="footer" class="container mt-auto my-3 x-2">
          {% block footer %}
            &copy; 2021-2023 by <a href="https://modelsen.mpiwg-berlin.mpg.de">ModelSEN project , MPI Geoanthropology (Jena, Germany)</a>
          {% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>
