{% extends 'index.html' %}

{% block content %}
{% if messages %}
  <ul class="messages">
    {% for mes in messages %}
      <li class="{{ mes.tags }}">{{ mes }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <h3>{{ header }}</h3>
  <p>This website is an interface between a drawn network image and its representation in the computer.</p>
  <p>
    You will need 
    <ul>
      <li>1) A computer with a webcam.</li>
      <li>2) A stack of white paper.</li>
      <li>3) A textmarker with a strong color.</li>
    </ul>
  </p>
{% endblock %}